<a href="/admin/articles/upload-article" class="mt-50 d-block">
    <button class="btn grey darken-3 d-block ma-auto">Завантажити статтю</button>
</a>

<div class="wrapper__articles mt-50 mb-50">
    {{#each articles}}
        <div class="wrapper__articles-item mt-20">
            <h2>Назва: {{this.name}}</h2>
            <h3>Тема: {{this.theme}}</h3>
            <h3>Дата публікації: {{this.date}}</h3>

            <div class="wrapper__articles-item-footer">
                <a href="/admin/articles/edit/{{this.id}}">Редагувати</a>
                <button class="delete-article-btn btn red darken-3" id="{{this.id}}">
                  <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    {{/each}}
</div>
{{#if loadMore}}
    <button class="d-block load-more-btn mt-50 mb-50 btn grey darken-3 ma-auto">Завантажити більше</button>
{{/if}}
